@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;     /* Changes font in buttons and input elements too */
    color: black;
}

body {
    /* Background */
    background: url('https://images.unsplash.com/photo-1531215244697-089c35892b94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1313&q=80') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    /* Centering all content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsla(0, 0%, 100%, 0.89);
    padding: 3rem;
    border: 2px solid #7193F3;
    border-radius: 1rem;
    /* Centering all content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: 500;
    margin: 0;
}

/* Form with input fields and buttons */
.form {
    /* CSS Grid */
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    /* Centering all content */
    justify-content: center;
    align-items: center;
}
label {
    font-weight: 400;
}
div.charAmt {
    /* aligning range and number to the center */
    display: flex;
    align-items: center;
}
#charAmtNumber {
    width: 2rem;
    outline: none;
    border: 0.25px solid lightgray;
    margin: 2px 8px;
    padding: 1px 1px 1px 5px;
    background-color: white;
}

/* Buttons */
.btn {
    background-color: transparent;
    padding: 0.25rem 1rem;
    border: 1.2px solid #7193F3;
    border-radius: 0.75rem;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}
#submit {
    background-color: #7193F3;
}
#reset { 
    background-color: transparent; 
}
#submit:hover, #reset:hover {
    background-color: white;
}

/* Password Display Panel */
.password-container {
    background-color: white;
    height: 3rem;
    width: 380px;
    padding: 0.5rem;
    margin: 1rem;
    /* Border */
    border: 1px solid #7193F3;
    border-radius: 0.5rem;
    /* Centering all content */
    display: flex;
    justify-content: center;
    align-items: center;
    /* When the content overflows the box */
    word-break: break-all;
    /* For the Copy Button */
    position: relative;
}
.passwordDisplay {
    background-color: white;
    width: 360px;
    height: 3.4rem;
    outline: none;
    border: none;
    resize: none;
    /* Text Formatting */
    color: #7193F3;
    text-align: center;
    font-size: large;
    font-weight: 700;
}
.passwordDisplay:focus {
    outline: none;
}

/* Small Copy Button at top-right */
.copyButton {
    background-color: rgb(100, 100, 100);
    color: white;
    /* Border */
    border: 0.25px solid #7193F3;
    border-radius: 0 0.25rem;
    border-bottom: transparent;
    border-left: transparent;
    /* Posiion */
    position: absolute;
    top: -1px;
    right: -1px;
}
.fa {
    color: white;
    cursor: pointer;
}

/* Tooltip on hover */
.tooltipText {
    background-color: rgb(100, 100, 100);
    color: #fff;
    width: max-content;
    padding: 0.15rem 0.25rem;
    border: none;
    border-radius: 0.25rem;
    /* Position */
    position: absolute;
    bottom: 150%;
    left: -210%;
    /* Visibility */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: rgb(100, 100, 100) transparent transparent transparent;
}
.copyButton:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}